@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}

.preloader {
    text-align: center;
    position: relative;
}

.spinner {
    font-size: 46px;
    animation: moving 1.5s infinite linear;
}

.spinner path {
    color: #665;
}
