.edit-user {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.form {
    height: 410px;
    padding-top: 35px;
}

h3 {
    color: gray;
    margin-bottom: 10px;
}

.edit-form input {
    border: 1px solid lightgray;
    outline: none;
    width: 88%;
    height: 45px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.edit-form input:focus {
    border: 1px solid lightskyblue;
}

.input-username,
.input-login,
.input-password,
.input-role {
    margin: 20px 20px 10px 20px;
}

.edit-buttons-block {
    margin-top: 30px;
}

.edit-user-save-button {
    outline: 0;
    background: lightskyblue;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-user-save-button:hover {
    background-color: dodgerblue;
}

.edit-user-cancel-button {
    outline: 0;
    background-color: #fdd2d2;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 30px;
}

.edit-user-cancel-button:hover {
    background-color: #ffacac;
}
