.user-info {
    width: auto;
    height: 80px;
    border: 1px solid gray;
    margin: 20px 150px 20px 150px;
    border-radius: 5px;
}

.user-info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin-left: 40px;
}

.user-info-block h3 {
    color: #535353;
}

.user-name {
    width: 15%;
    min-width: 100px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.user-name h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

.user-email {
    margin-left: 40px;
    width: 40%;
    background-color: lightskyblue;
    border-radius: 5px;
    min-width: 150px;
}

.user-email h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-role {
    margin-left: 40px;
    width: 5%;
    background-color: #ffe0ce;
    border-radius: 5px;
    min-width: 50px;
}

.user-name,
.user-email,
.user-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 5px 10px 0 20px;
}
.user-info-buttons-block {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.user-info-edit-button {
    border-radius: 5px;
    background-color: #dedede;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: none;
    margin: 0 20px 0 40px;
}

.user-info-edit-button:hover {
    background-color: #b8b8b8;
    color: white;
}

.user-info-delete-button {
    border-radius: 5px;
    background-color: #fdd2d2;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: none;
    margin: 0 40px 0 20px;
}

.user-info-delete-button:hover {
    background-color: #ffacac;
    color: white;

}