.back-button {
    outline: 0;
    background: lightgray;
    width: 90px;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
    size: 18px;
}

.back-button:hover {
    background: gray;
    color: white;
}