.message-list {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    min-height: 600px;
    max-height: 600px;
    margin: 0 150px 0 150px;
    border-radius: 5px;
    padding: 40px 100px 20px 100px;
    overflow: auto;
}

.message-list .own-message {
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: auto;
}

input {
    width: 0;
    height: 0;
    border: none;
}
