.login-page {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 3%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.login-container {
    position: relative;
    height: 280px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 5px 0 gray;
    border-radius: 5px;
}

.login-form input {
    border: 1px solid lightgray;
    outline: none;
    width: 90%;
    height: 45px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.logo-login-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px -20px;
}

.logo-login-container img {
    width: 150px;
    height: 30px;
}

.input-login {
    margin: 20px 20px 10px 20px;
}

.input-password {
    margin: 10px 20px 10px 20px;
}


.login-form input:focus {
    border: 1px solid lightskyblue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-container button {
    outline: 0;
    background: lightgray;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 35px 0 20px 0;
}

.login-container button:hover,
.login-container button:active,
.login-container button:focus {
    background: gray;
    color: white;
}

.login-form-input-container {
    display: flex;
    flex-direction: row;
}

.login-form-input-container div {
    margin-top: 25px;
    position: absolute;
}

.login-form-input-container div span path {
    color: gray;
}

p {
    font-size: 10px;
    text-align: left;
    margin-left: 20px;
    color: gray;
}

.unauthorized-error {
    height: 0;
}

.unauthorized-error span {
    font-size: 14px;
    color: #f8725d;
}
