.chat-container {
    background-color: white;
    min-height: 100vh;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 0.3fr 0.4fr 3.29fr 0.01fr;
    gap: 10px 10px;
    grid-template-areas:
            "logo-container"
            "header-container"
            "content-container"
            "footer-container";
}

.header-container {
    grid-area: header-container;
}

.content-container {
    grid-area: content-container;
}

.footer-container {
    grid-area: footer-container;
}

.logo-container {
    grid-area: logo-container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    width: 150px;
    height: 30px;
    margin: 20px 0 0 20px;
}
