.add-user {
    /*display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.add-user-hide {
    display: none;
}

.form {
    height: 450px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 5px 0 white;
    border-radius: 5px;
}

h3 {
    color: gray;
    margin-bottom: 10px;
}

.add-user-form input {
    border: 1px solid lightgray;
    outline: none;
    width: 88%;
    height: 45px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-user-form input:focus {
    border: 1px solid lightskyblue;
}

.input-username,
.input-login,
.input-password {
    margin: 20px 20px 10px 20px;
}

.add-user-buttons-block {
    margin-top: 30px;
}

.add-user-create-button {
    outline: 0;
    background: lightskyblue;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 30px;
}

.add-user-create-button:hover {
    background-color: dodgerblue;
    color: white;
}

.add-user-cancel-button {
    outline: 0;
    background-color: #fdd2d2;
    width: 40%;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.add-user-cancel-button:hover {
    background-color: #ffacac;
}
