.user-list-page-container {
    background-color: white;
    min-height: 100vh;
    margin: 0 !important;
    display: grid;
    /*grid-auto-columns: 1fr;*/
    /*grid-template-rows: 0.3fr 0.4fr 3.29fr 0.01fr;*/
    /*gap: 10px 10px;*/
    /*grid-template-areas:*/
    /*        "logo-container"*/
    /*        "header-container"*/
    /*        "content-container"*/
    /*        "footer-container";*/
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: gray;
}
.user-list-page {
    background-color: #f6f6f6;
    margin: 10px 100px 50px 100px;
    min-height: 700px;
    border-radius: 5px;
}

.user-list-page-sign-out-button-block {
    display: flex;
    justify-content: space-between;
}

.user-list-page-buttons-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 140px;
}

.user-list-page-back-button {
    outline: 0;
    background: lightgray;
    width: 90px;
    border: 0;
    padding: 15px;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
    size: 18px;
}

.user-list-page-back-button:hover {
    background: gray;
    color: white;
}

.users-info-blocks {
    overflow: auto;
    height: 70vh;
}

.add-user-button {
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border: none;
    margin: 20px 0 40px 150px;
    color: gray;
}

.add-user-button:hover {
    color: white;
}

.add-user-button:hover {
    background-color: #b8b8b8;
}