.header {
    background-color: #e2e2e2;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 150px 0 150px;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
}

.header-info-block {
    display: flex;
    flex-direction: row;
}

.header-info-block {
    margin-left: 40px;
    margin-top: 10px;
}

.header-last-message-block {
    margin-right: 40px;
}

.header-users-count,
.header-messages-count {
    margin-left: 40px;
}

.header-messages-count {
    display: flex;
}

.header-messages-count div:first-child {
    text-align: center;
    width: 50px;
    height: 50px;
}

.header-last-message-date {
    display: flex;
}

.header-last-message-date span {
    margin: 0 10px 0 10px;
}
