.admin-page-container {
    height: 100vh;
    background-color: white;
}

.admin-page-sign-out-block {
    display: flex;
    justify-content: flex-end;
}

.admin-links {
    margin: 100px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.nav-bar {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-bar a {
    margin: 10px 60px 20px 60px;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: lightgray;
    text-decoration: none;
}

.nav-bar a:hover {
    background: gray;
    color: white;
}